/*THE RESET STYLESHEET*/
html, body, div, span, p, h1, h2, h3, h4, h5, h6, a, img, form, fieldset, legend, label, input, select, button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    line-height: baseline;
    box-sizing: border-box;
    white-space: 0;
}

html, body {
    height: 100%;
}

p + p {
    margin-top: 1em;
}